.Filter {
    width: 260px;
}

.Filter input {
    margin-left: 5px;
}

.Filter .textView {
    float: right;
    width: 30px;
    font-weight: bold;
    text-align: right;
    border: solid 1px grey;
}