.Filter {
    width: 260px;
}

.Filter input {
    margin-left: 5px;
}

.Filter .textView {
    height: 80px;
    border: solid 1px grey;
    padding: 10px;
    margin-top: 5px;
    text-align: right;
    float: right;
}