.ClientForm {
    width: 300px; 
}

.ClientFormRow
{
    margin-bottom: 10px;
}

.ClientForm label {
    display: block;
    text-align: left;
}

.ClientFormBtn {
    width: 74px;
    margin: 20px 20px 0 0;
    padding: 5px;
}